header {
  color: #464646;
  background-color: #f7a5c9;
  padding: 10px; 
  position: absolute;
  left:0;
  font-family: 'Monoton', cursive;
}
.navPage {
  background-image: url("./src/tshirtbackground.png");
  background-repeat: no-repeat;
  background-size: cover; 
  width: auto;
  height: 800px;
  color:red;
}

.imageLink {
  display: flex;
  justify-content: center;
}

#imgSrc {
  width: 300px;
  height: 100px;
  margin-top: 250px;
  border-radius: 10px;
}

.nextPicBtn {
  height: 50px;
  width: 60px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: white;
  border: 2px solid grey;
  background: #464646;
  margin-left:230px;
  margin-top: 480px; 
}
.prevPicBtn {
  height: 50px;
  width: 60px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: white;
  border: 2px solid grey;
  background: #464646;
  margin-right:230px;
  margin-top: 480px; 
}

.nextPicBtn:hover{
  background: red;
}

.prevPicBtn:hover{
  background: red;
}

#aboutMe {
  background:white;
  margin-top: 10px;
  width: 100%;
  height: 800px;
  font-family: 'Philosopher', sans-serif;
}
#project {
  background:#AAA8B2;
  margin-top: 10px;
  width: 100%;
  height: 700px;
  border-radius: 15px;
}
.project-container {
  display: flex;
}
.project-title{
  margin-left: 10px;
}

.project-img {
  height: 250px;
  width: auto;
  border: 4px solid white;
  border-radius: 0.5em;
  margin: 20px;
}

#contactMe {
  background:#B2ACA4;
  margin-top: 10px;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 45px/15px;
}

.githubPic {
  width:80px;
  height: auto;
  margin: 40px;
}

.linkedinPic {
  width:60px;
  height: auto;
  margin: 50px;
}

.emailLink {
  margin: 50px;
  text-decoration:none;
}

.introduce-me {
  font-size: 30px;
  width: 500px;
  margin: 0 auto;
  text-align: justify;
}

.my-pic-container {
  width: 186px;
  height: 186px;
  margin: 40px auto;

}
.my-pic {
  width: 100%;
  height:100%;
  border-radius: 25%;
}

.emailLink {
  font-family: 'Philosopher', sans-serif;
  text-decoration: none;
  font-size: 30px;
  margin: 60px 20px;
  color: #23a3b3
}

footer {
  color: black;
  bottom: 0;
}